rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	///// FUNCTIONS /////
  	function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    
    function isExec() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.exec == true
    }

    function isOfficer() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.officer == true
    }

		// Announcements
    match /announcements/{announcementId} {
    	allow read: if isSignedIn();
      allow write: if isSignedIn() && isExec();
    }
    
    // Bios
    match /bios/{bioId} {
    	allow read: if isSignedIn();
      allow write: if isSignedIn() && isExec();
    }
    
    // Calendar
    match /calendar/{calendarId} {
    	allow read: if isSignedIn();
      allow write: if isSignedIn() && isAdmin();
    }
    
    // Errors
    match /errors/{errorId} {
    	allow read, write: if false;
    }
    
    // Users
    match /users/{userId} {
    	allow read: if isAdmin() || userId == request.auth.uid;
      allow write: if false;
    }
    
    // Users
    match /events/{eventId} {
    	allow read: if isSignedIn();
      allow create, delete: if isSignedIn() && isExec()
      allow update: if isSignedIn() && 
      (
      	isExec() || 
        (isOfficer() && 
        request.resource.data.diff(resource.data).affectedKeys() == ['attendance'].toSet()
        ))
    }

    // Help
    match /help/{helpId} {
    	allow read, write: if isSignedIn()
    }
    
  }
}