.event-not-present {
    background-color: var(--danger1);
}

.event-not-present:hover {
    background-color: var(--danger2);
}

.event-present {
    background-color: var(--success1);
}

.event-present:hover {
    background-color: var(--success2);
}

.event-attendance-table-row {
    display: grid;
    place-content: center;
    height: 50px;
    cursor: pointer;
}

