.create-user-btn {
    height: 30px;
}

.create-user-modal {
    height: 70vh !important;
}

.show-create-user-btn {
    position: fixed;
    height: 6vh;
    width: 6vh;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    font-size: 2rem;
}

.err {
    color: rgb(198, 0, 0);
}