.table-header {
    display: flex;
    justify-content: center;
}

.admin-filters {
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .admin-filters {
        width: 95%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .admin-filters {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .admin-filters {
        width: 60%;
    }
}

@media screen and (min-width: 1025px) {
    .user-owner-table {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(9, 1fr);
        row-gap: 15px;
    } 

    .user-table {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 15px;
    }
    .admin-filters {
        width: 50%;
    }
}

/* GRADE SELECTOR ================ */
.select-grade {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(59, 97, 211);
  }
  
  .select-grade-option:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }
  
  .select-grade-option:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
  }

  .select-grade-option {
    width: 100%;
    height: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border: 1px solid rgb(17, 23, 130);
  }
  
  .select-grade-option:hover{
    background-color: rgb(44, 77, 174);
    border-color: rgb(17, 23, 130);
  }
  
  #grade-selected {
    background-color: rgb(26, 42, 148);
    color: white;
    border-color: rgb(17, 23, 130);
  }