.blue-block {
    height: 40vh;
    background-color: var(--blue);
}

.gray-block {
    height: 60vh;
    background-color: rgb(233, 233, 233);
}


.reset-password-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: transparent;
    z-index: 10;
    display: grid;
    place-content: center;
    
}

.reset-password {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: white;
}

#reset-password-input-group {
    margin: 40px auto;
}

.password-reset-btn {
    height: 30px;
    margin: 40px auto;
    display: block;
}

.confirm-text {
    text-align: center;
}

.back-to-login {
    margin: 0 auto;
    height: 30px;
    display: block;
}

@media screen and (max-width: 480px) {
    .reset-password {
        width: 95vw;
        height: 30vh;
    }
    
    #reset-password-input-group {
        width: 90%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .reset-password {
        width: 80vw;
        height: 30vh;
    }
    
    #reset-password-input-group {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .reset-password {
        width: 60vw;
        height: 30vh;
    }
    
    #reset-password-input-group {
        width: 60%;
    }
}

@media screen and (min-width: 1025px) {
    .reset-password {
        width: 50vw;
        height: 30vh;
    }
    
    #reset-password-input-group {
        width: 50%;
    }
}