.user-dashboard {
    background-color: #1c72e7;
    width: 100%;
    height: 60vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.info-box {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.info-box::-webkit-scrollbar {
    display: none;
}

.info-title,
.dashboard-info {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .user-dashboard {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .info-box {
        width: 90%;
        height: min(30vh, 100%);
    }
}


@media screen and (min-width: 769px) {
    .user-dashboard {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        column-gap: 4%;
        row-gap: 7%;
    }
    
    .upcoming-events {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .attendance {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    .sign-ups {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }
}