body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.present,
.good {
  background-color: greenyellow;
}

.not-present,
.bad {
  background-color: red;
}

.attendance-table {
  border: 1px solid black;
}

.nav-link {
  margin-right: 20px;
  margin-left: 20px;
}

/* Dropdown Button */
.dropbtn {
  /* background-color: #04AA6D; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.row {
  display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.navbar-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.large-pfp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.bio-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bio-container {
  width: 350px;
  height: 500px;
}

.announcement {
  margin: 80px;
  /* width: 100%; */
  height: 200px;
  
}

.event {
  margin: 30px;
  width: auto;
  height: auto;
}

.event,
.announcement,
.bio-container {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  place-content: center;
  padding: 25px;
}

.calendar {
  /* width: 80vw;
  height: 80vh; */
  margin: auto;
  border-spacing: 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
}

.day {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  margin: 0;
  height: 125px;
  width: 200px;
}

.day-info {
  display: flex;
  justify-content: left;
  align-items: top;
  height: 100%;
  width: 100%;
}

.day-number {
  justify-content: top;
}

.user-dashboard {
  background-color: #1c72e7;
  width: 100%;
  height: 500px;
}

a {
  text-decoration: none;
}

#open-add-announcement {
  position: fixed;
  top: 87vh;
  left: 92vw;
  border: none;
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 50%;
  background-color: #1c72e7;
  color: white;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 5px 5px 15px;
}

.gallery {
  height: 500px;
  background-color: red;
  display: grid;
  place-content: center;
  color: white;
  font-size: 70px;
  font-weight: 500;
}

@keyframes example {
  from {color: transparent;}
  to {color: white;}
}

.welcome {
  animation-name: example;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.tba {
  height: 700px;
  font-size: 100px;
  display: grid;
  place-content: center;
  /* border: 1px solid red; */
  animation: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.attendance-table-group .event .transition {
  transition: transform 300ms linear;
}

#gallery-video {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.gallery {
  position: relative;
}

.welcome-text {
  position: absolute;
  z-index: 5;
  top: 25%;
  left: 5%;
}